.gradle
build
/bin/
.classpath
.settings
*.class
*.iml
*.iws
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
.idea/
/.DS_Store
/persistence-jpa2.ipr
/src/main/java/com/demo/jpa2/domain/dto/ProfessorSubjectDto.java
